node_modules/**/*
node_modules
.env
.expo
package-lock.json
back-end/dist
.expo/*
front-end/.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.vscode
.expo

# macOS
.DS_Store